<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>Lista de Usuarios</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let user of usuarios ; let i=index ">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="{{user.picture.large}}" />
        </ion-thumbnail>
        
        <ion-label>{{user.name.title}} {{user.name.first}} {{user.name.last}}</ion-label>
        <ion-button (click)="GetUserInfo(i)"    color="secondary">Ver mas info</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>